#game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #bbada0;
  border-radius: 6px;
  width: 575px;
  height: 575px;
  box-sizing: border-box;
  -webkit-user-select: none;
  touch-action: none;
}

.cell {
  height: 106px;
  width: 106px;
  margin: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.title{
  color: #776e65;
}

.text {
  color: #776e65;
  display: inline;
}

.tile-0 {
  background: rgba(238, 228, 218, 0.35);
}

.tile-2 {
  color: #776e65;
  background-color: #eee4da;
}

.tile-4 {
  color: #776e65;
  background-color: #ede0c8;
}

.tile-8 {
  color: #f9f6f2;
  background-color: #f2b179;
}

.tile-16 {
  color: #f9f6f2;
  background-color: #f59563;
}

.tile-32 {
  color: #f9f6f2;
  background-color: #f67c5f;
}

.tile-64 {
  color: #f9f6f2;
  background-color: #f65e3b
}

.tile-128 {
  color: #f9f6f2;
  background-color: #edcf72;
}

.tile-256 {
  color: #f9f6f2;
  background-color: #edcc61;
}

.tile-512 {
  color: #f9f6f2;
  background-color: #edc850;
}

.tile-1024 {
  color: #f9f6f2;
  background-color: #edc53f;
}

.tile-2048 {
  color: #f9f6f2;
  background-color: #edc22e;
}

.tile-super {
  color: #f9f6f2;
  background-color: #3c3a32;
}
