h2{
	margin-left: 6em;
	text-decoration: underline;
	font-size: 40px;
	clear: both;
}

aside{
	float: left;
	margin-top: 30px;
	width: 13%;
	position: absolute;
	background-color: #aeb3b7;
	border: 2px solid black
}

aside a{
	color: #800000;
}

aside a:hover{
	color: #990000;
	text-decoration: none;
}

#prev{
	float: left;
	margin-left: 20%;
}

#next{
	float: right;
	margin-right: 20%;
}

.post-pic{
	width:50%;
}


#call-fantasy{
	margin-bottom: 4em;
}

.gist{
	height: 20em;
	overflow: scroll;
	border: 2px solid-black;
}