h2{
	margin-left: 8em;
	text-decoration: underline;
	font-size: 2em;
}

aside{
	float: left;
	margin-top: 30px;
	width: 13%;
	position: absolute;
	background-color: #aeb3b7;
	border: 2px solid black
}

aside a{
	color: blue;
}

aside a:hover{
	color: blue;
	text-decoration: none;
}

.post{
	border: 2px solid black;
	padding: 20px;
	float: right;
	width: 55%;
	margin-top: 30px;
	margin-right: 21%;
	clear: both;
	margin-bottom: 20px;
	background-color: #aeb3b7;
}

.plus-min{
	position: relative;
	clear: both;
}

.plus-min a{
	color: black;
	border: 1px solid black;
	background-color: #aeb3b7
}
.plus-min a:hover{
	color: black;
	background-color: #c9cccf
}

#prev{
	float: left;
	margin-left: 20%;
}

#next{
	float: right;
	margin-right: 20%;
}

.post-preview{
	font-size: 15px;
}

.section-title{
margin-left: 15em;
}

.post-title{
	font-size: 25px;
	color: black;
	text-decoration: underline;
}
.post-title a{
	font-size: 25px;
	color: black;
}

.post-date{
	font-size: 15px;
}





