h2{
	margin-left: 8em;
	text-decoration: underline;
	font-size: 2em;
}

aside{
	float: left;
	margin-top: 30px;
	width: 13%;
	position: absolute;
	background-color: #aeb3b7;
	border: 2px solid black
}

aside a{
	color: blue;
}

aside a:hover{
	color: blue;
	text-decoration: none;
}

#prev{
	float: left;
	margin-left: 20%;
}

#next{
	float: right;
	margin-right: 20%;
}

.post-pic{
	width:50%;
}



